<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>배우 리스트</h1>
    <h2>1. 배우 리스트 (이름,나이,커리어)</h2>
    <a href="/actors/alllist">배우 전체 리스트 보러가기</a>
    <h2>2. 남자 배우 리스트 (이름,나이,커리어)</h2>
    <a href="/actors/manlist">남자 배우 리스트 보러가기</a>
    <h2>3. 여자 배우 리스트 (이름,나이,커리어)</h2>
    <a href="/actors/womanlist">여자 배우 리스트 보러가기</a>
    <h2>4. 같은 드라마 || 같은 영화 || 같은 뮤지컬 나온 배우들</h2>
    <a href="/actors/titlelist">배우 리스트 보러가기</a>
    <h2>5. 영화 리스트</h2>
    <a href="/actors/movie">영화 리스트 보러가기</a>
    <h2>6. 드라마 리스트</h2>
    <a href="/actors/drama">드라마 리스트 보러가기</a>
  </body>
</html>
